<!DOCTYPE html>
<html ng-app>
  

<head>
    <title></title>
    <script src="script.js" ></script>
    <script src="http://code.angularjs.org/1.1.5/angular.min.js" ></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div>
   <h1> 訂單登錄系統</h1>
    <label>搜尋:</label>
<input type="search" ng-model="search" placeholder="Enter to Search">
    </div>
<div id="table1" ng-controller="table">
    <table  cellpadding="0" border="0" cellspacing="0"  >
        <tr id="heading">
            <th>產品名稱:</th>
            <th>客戶:</th>
            <th>數量:</th>
        </tr>
        <tr class="color2" ng-repeat="product in products | filter:search | filter:new_search">
            <td>{{product.Rollno}}  </td>
            <td>{{product.Name}}</td>
            <td>{{product.Uni}} </td>
        </tr>
    </table>
    
<button ng-click="remove($index)" >刪除一筆</button>
<button ng-click="remove2($index)" >刪除全部</button>
    
    <div >
        <label>產品名稱:</label>
        <input type="text" ng-model="new_rollno"> <br>
        <label>客戶:</label>
        <input type="text" ng-model="new_name"><br>
        <label>數量:</label>
        <input type="number" ng-model="new_uni"><br>
        <button ng-click="save()">增加</button>
    </div>
    <div style="float: right; margin-right: 300px;margin-top: -200px;">

</div>
</div>
</body>
</html>
